.navbar {
    background: transparent;
}

.navbar-dark-bg {
    transition: all 0.5s;
    background: $gray-15;
}

.navbar .primary-text {
    color: $primary;
}

.navbar.navbar-dark .navbar-nav .nav-link {
	color: $primary;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    font-size: $font-size-base;
    letter-spacing: 1px;
    padding: 6px 2px;
    border-radius: 0;
    margin: 9px 20px 0 20px;
}

.navbar.navbar-dark .navbar-nav .nav-link:hover {
    color: $primary;
    border-bottom: 2px solid $primary;
}

.navbar-brand {
    font-family: 'Montez', cursive;
    font-size: $h2-font-size;
    color: $primary;
}